<html>

<head>

</head>

<body>
    <h1>Total users: {{totalUsers}}</h1>
    <div id="users">
        {{#each users}}
            <span>Name: {{name}}</span>
        {{/each}}
    </div>
</body>

</html>